<div class="menu-page">
  <header>
    <h1>Application Menu</h1>
    <p>Quick access to key pages.</p>
  </header>

  <nav class="menu-links">
    <ul>
      <li><%= link_to "Bookings", bookings_path %></li>
      <li><%= link_to "Admin Users", api_admin_users_path %></li>
      <li><%= link_to "My Profile", api_auth_me_path %></li>
    </ul>
  </nav>
</div>
